
@{
    Layout = "~/Views/Shared/GeneralLayout.cshtml";
}

<div id="task-form-container" class="col-lg-10 col-md-10 col-sm-12 col-xs-12 col-lg-offset-1 col-md-offset-1">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div id="task-title-field" class="form-group">
            <label>Title</label>
            <input class="form-control task-input-field" value="@ViewBag.task.Title"/>
        </div>

        <label>Priority</label>
        <div id="task-priorities-container">
            <div class="task-radio-container">
                <img src="/Assets/icons/green-triangle.png" class="task-radio-img" />
                <input type="radio" name="task-radio" class="task-radio-button task-input-field" />
            </div>

            <div class="task-radio-container">
                <img src="~/Assets/icons/yellow-triangle.png" class="task-radio-img" />
                <input type="radio" name="task-radio" class="task-radio-button task-input-field" />
            </div>

            <div class="task-radio-container">
                <img src="~/Assets/icons/red-triangle.png" class="task-radio-img" />
                <input type="radio" name="task-radio" class="task-radio-button task-input-field" />
            </div>
        </div>

        <div id="task-datetime">
            <div class="form-group">
                <label>Date and time to finish</label>
                <input id="task-date-picker" class="form-control task-input-field" />
            </div>

            <div id="task-hours" class="task-time form-group col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <select class="form-control task-input-field">
                    @{
                        for (int i = 1; i <= 12; i++)
                        {
                            <option>@(i < 10 ? "0" + i.ToString() : i.ToString())</option>
                        }
                    }
                </select>
            </div>

            <div id="task-minutes" class="task-time form-group col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <select class="form-control task-input-field">
                    @{
                        for (int i = 1; i <= 60; i++)
                        {
                            <option>@(i < 10 ? "0" + i.ToString() : i.ToString())</option>
                        }
                    }
                </select>
            </div>

            <div id="task-time-meridian" class="task-time form-group col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <select class="form-control task-input-field">
                    <option>AM</option>
                    <option>PM</option>
                </select>
            </div>
        </div>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="form-group">
            <label>Description</label>
            <textarea id="task-description-field" class="form-control task-input-field">@ViewBag.task.Description</textarea>
        </div>

        <div class="task-button-container task-button-container-create-edit col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <a href="@Url.Action("Index", "Main")">
                <div class="task-button task-button-create-edit">
                    Save
                </div>
            </a>
        </div>

        <div class="task-button-container task-button-container-create-edit col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <a href="@Url.Action("Index", "Main")">
                <div class="task-button task-button-create-edit">
                    Cancel
                </div>
            </a>
        </div>

        <div id="task-icons-container-create-edit" class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="task-icons-create-edit col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <img class="@(ViewBag.task.IsFinishedTask ? "task-highlighted-icon" : "") task-transparent-icon" src="~/Assets/icons/check.png" />
            </div>

            <div class="task-icons-create-edit col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <img src="~/Assets/icons/close.png" />
            </div>
        </div>
    </div>
</div>


