
<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>@ViewBag.Title</title>

        @Styles.Render("~/Content/css")
        @Styles.Render("~/Assets/css")
    </head>

    <body>
        <div id="task-corner-design-top-container">
            <div class="task-corner-design-top">

            </div>

            <div class="task-corner-design-top">

            </div>
        </div>

        <header class="col-lg-10 col-md-10 col-sm-12 col-xs-12 col-lg-offset-1 col-md-offset-1">
            <div id="task-isologo">
                <img src="~/Assets/isologo/isologo.png"/>
            </div>

            <div id="task-info">
                i
            </div>

            <div id="task-filter">
                <a href="@Url.Action("Index", ViewBag.ViewName, new { priority = "g" })">
                    <img src="~/Assets/icons/green-triangle.png" id="green-triangle" class="task-highlighted-icon task-transparent-icon" />
                </a>

                <a href="@Url.Action("Index", ViewBag.ViewName, new {priority = "y"})">
                    <img src="~/Assets/icons/yellow-triangle.png" id="yellow-triangle" class="task-transparent-icon" />
                </a>

                <a href="@Url.Action("Index", ViewBag.ViewName, new {priority = "r"})">
                    <img src="~/Assets/icons/red-triangle.png" id="red-triangle" class="task-transparent-icon" />
                </a>
            </div>
        </header>

        <section>
            @RenderBody() 
        </section>

        <footer>
            <div id="task-copyright">
                <span>
                    &#169; Taskoo @DateTime.Now.Year
                </span>
            </div>

            <div id="task-corner-design-bottom-container">
                <div class="task-corner-design-bottom">

                </div>

                <div class="task-corner-design-bottom">

                </div>
            </div>
        </footer>

        @Scripts.Render("~/bundles/jquery");
        @Scripts.Render("~/Assets/js");
    </body>
</html>
